<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RedirectURL</title>

    <style>
        body {
            text-align: center;
            background-color: #ddd;
        }

    </style>
</head>

<body>
    <div id='redirect'>

        <h1>CJ One Pay Test Redirect Page</h1>
        <strong>Redirect Value</strong>
            <br/>
            <input type="text" placeholder="pmtReqId" v-model="params.pmtReqId">
            <br/>
            <input type="text" placeholder="succYN" v-model="params.succYN">

    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script>
        var vm = new Vue({
            delimiters: ['{', '}'],
            el: '#redirect',
            data: {
                    params: {
                        pmtReqId: '',
                        succYN: '',
                    },
             },

            methods: {
                add_todo: function() {
                    console.log("add_todo()...");
                    this.chnnlItems.push({name: this.name, item: this.newChnnlItem});
                },
            },
        })

        let params = new URL(document.location).searchParams;

        if(params.has("pmtReqId")){
            let pmtReqId = params.get("pmtReqId")
            vm.params.pmtReqId= pmtReqId
        }
        if(params.has("succYN")){
            let succYn = param.get("succYN")
            vm.params.succYN=succYn
        }



    </script>

</body>
</html>