<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel ="shortcut icon" href="#">
    <title>testpay App_YJH</title>

    <style>
        header{
            margin: auto;
            width: 50%;
            background: white;
            height: 50px;
            border-radius: 50px;
            line-height: 50px;
        }

        body {
            text-align: center;
            background-color: #ddd;
        }
        .inputBox {
            border-style: none;
            border-bottom: 1px solid #ddd;
            margin: auto;
            margin-left: 50px;
            padding-left: 20px;
        }

    </style>
</head>

<body>
        <header>CJ One Pay Test: 온라인 PC to APP</header>
        <br>

    <div id='apiHeader' style="border: 1px dotted; border-radius: 5px; padding: 10px; width: 70%; text-align: left; margin: auto; background: white;">
    <h4>Header 영역</h4>
        <table>
            <tbody>
                <tr>
                    <td>MERCHANT-KEY: </td>
                    <td><input v-model="head.merchantKey" class="inputBox" type = "text" style="width: 400px"></td>
                </tr>
                <tr>
                    <td>MERCHANT-ID: </td>
                    <td><input v-model="head.merchantId" class="inputBox" type = "text" style="width: 400px"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id='pc2app_pm1001'>
        <div style="border: 1px dotted; border-radius: 5px; padding: 10px; width: 70%; text-align: left; margin: auto; background: white;">
            <h4>결제정보등록 : /pm/v1/pmt/minfo/regi/do
            <button v-on:click="submit_pm1001()">전송</button>
            </h4>
            <hr>
            <table>
                <tbody>
                    <tr>
                        <td>chnnlTypeCd(채널유형코드) </td>
                        <td><input id="chnnlTypeCd" v-model="pm1001_req.chnnlTypeCd" class="inputBox" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>mchtTrNo(가맹점거래번호) </td>
                        <td><input class="inputBox" v-model="pm1001_req.mchtTrNo" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>repPrdtNm(대표상품이름) </td>
                        <td><input class="inputBox" v-model="pm1001_req.repPrdtNm" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>totPmtAmt(총결제금액) </td>
                        <td><input class="inputBox" v-model="pm1001_req.totPmtAmt" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>totPrdtQty(전체상품수량) </td>
                        <td><input class="inputBox" v-model="pm1001_req.totPrdtQty" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>signature </td>
                        <td><input class="inputBox" v-model="pm1001_req.signature" type = "text" style="width: 400px"></td>
                    </tr>
                </tbody>
            </table>
            <br><hr>
            <table>
                <tbody>
                    <tr>
                        <td>code(응답코드) </td>
                        <td><input class="inputBox" v-model="pm1001_res.code" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>message(응답메세지) </td>
                        <td><input class="inputBox" v-model="pm1001_res.message" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>trNo(API거래번호) </td>
                        <td><input class="inputBox" v-model="pm1001_res.trNo" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>data.pmtReqId(결제요청ID) </td>
                        <td><input class="inputBox" v-model="pm1001_res.pmtReqId" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>data.mchtTrNo(가맹점거래번호) </td>
                        <td><input class="inputBox" v-model="pm1001_res.mchtTrNo" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>data.qrCd(QR코드) </td>
                        <td><input class="inputBox" v-model="pm1001_res.qrCd" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>signature </td>
                        <td><input class="inputBox" v-model="pm1001_res.signature" type = "text" style="width: 400px"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id='pc2app_callQrPage'>
        <div style="border: 1px dotted; border-radius: 5px; padding: 10px; width: 70%; text-align: left; margin: auto; background: white;">
            <h4>QR코드 화면 호출 : https://pay.cjone.com/pg-qr
                <button v-on:click="openQrCd()">QR코드 화면 호출</button>
                <button v-on:click="openApp()">App 호출</button>
            </h4>
            <hr>
            <table>
                <tbody>
                    <tr>
                        <td>pmtReqId(결제요청ID) </td>
                        <td><input class="inputBox" v-model="callQrPage_req.pmtReqId" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>qrCd(QR코드) </td>
                        <td><input class="inputBox" v-model="callQrPage_req.qrCd" type = "text" style="width: 400px"></td>
                    </tr><tr>
                        <td>merchantId(가맹점ID) </td>
                        <td><input class="inputBox" v-model="callQrPage_req.merchantId" type = "text" style="width: 400px"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id='pc2app_pm1023'>
        <div style="border: 1px dotted; border-radius: 5px; padding: 10px; width: 70%; text-align: left; margin: auto; background: white;">
            <h4>결제정보조회
                <button v-on:click="submit_pm1023()">결제정보조회</button>
            </h4>
            <hr>
            <table>
                <tbody>
                    <tr>
                        <td>pmtReqId(결제요청ID) </td>
                        <td><input class="inputBox" v-model="pm1023_req.pmtReqId" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>signature </td>
                        <td><input class="inputBox" v-model="pm1023_req.signature" type = "text" style="width: 400px"></td>
                    </tr>
                </tbody>
            </table>
            <br><hr>
            <table>
                <tbody>
                    <tr>
                        <td>code(응답코드) </td>
                        <td><input class="inputBox" v-model="pm1023_res.code" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>message(응답메세지) </td>
                        <td><input class="inputBox" v-model="pm1023_res.message" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>trNo(API거래번호) </td>
                        <td><input class="inputBox" v-model="pm1023_res.trNo" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>data.pmtReqId(결제요청ID) </td>
                        <td><input class="inputBox" v-model="pm1023_res.pmtReqId" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>data.totPmtAmt(총결제금액) </td>
                        <td><input class="inputBox" v-model="pm1023_res.totPmtAmt" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>data.pntUseAmt(포인트사용금액) </td>
                        <td><input class="inputBox" v-model="pm1023_res.pntUseAmt" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>data.gftUseAmt(기프트카드사용금액) </td>
                        <td><input class="inputBox" v-model="pm1023_res.gftUseAmt" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>data.crdAprvAmt(카드승인금액) </td>
                        <td><input class="inputBox" v-model="pm1023_res.crdAprvAmt" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>signature </td>
                        <td><input class="inputBox" v-model="pm1023_res.signature" type = "text" style="width: 400px"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id='pc2app_pm1005'>
        <div style="border: 1px dotted; border-radius: 5px; padding: 10px; width: 70%; text-align: left; margin: auto; background: white;">
            <h4>결제요청 : /pm/v1/pmt/mthd/auth/do
                <button v-on:click="submit_pm1005()">전송</button>
            </h4>
            <hr>
            <table>
                <tbody>
                    <tr>
                        <td>pmtReqId(결제요청ID) </td>
                        <td><input class="inputBox" v-model="pm1005_req.pmtReqId" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>totPmtAmt(총결제금액) </td>
                        <td><input class="inputBox" v-model="pm1005_req.totPmtAmt" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>pntUseAmt(포인트사용금액) </td>
                        <td><input class="inputBox" v-model="pm1005_req.pntUseAmt" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>gftUseAmt(기프트카드사용금액) </td>
                        <td><input class="inputBox" v-model="pm1005_req.gftUseAmt" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>crdAprvAmt(카드승인금액) </td>
                        <td><input class="inputBox" v-model="pm1005_req.crdAprvAmt" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>vat(부가세) </td>
                        <td><input class="inputBox" v-model="pm1005_req.vat" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>totTaxfAmt(총 비과세 금액) </td>
                        <td><input class="inputBox" v-model="pm1005_req.totTaxfAmt" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>crdVat(신용카드 부가세 금액) </td>
                        <td><input class="inputBox" v-model="pm1005_req.crdVat" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>crdTaxfAmt(신용카드 비과세 금액) </td>
                        <td><input class="inputBox" v-model="pm1005_req.crdTaxfAmt" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>pntVat(포인트 부가세 금액) </td>
                        <td><input class="inputBox" v-model="pm1005_req.pntVat" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>pntTaxfAmt(포인트 비과세 금액) </td>
                        <td><input class="inputBox" v-model="pm1005_req.pntTaxfAmt" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>gftVat(기프트카드 부가세 금액) </td>
                        <td><input class="inputBox" v-model="pm1005_req.gftVat" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>gftTaxfAmt(기프트카드 비과세 금액) </td>
                        <td><input class="inputBox" v-model="pm1005_req.gftTaxfAmt" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>signature </td>
                        <td><input class="inputBox" v-model="pm1005_req.signature" type = "text" style="width: 400px"></td>
                    </tr>
                </tbody>
            </table>
            <br><hr>
            <table>
                <tbody>
                    <tr>
                        <td>code(응답코드) </td>
                        <td><input class="inputBox" v-model="pm1005_res.code" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>message(응답메세지) </td>
                        <td><input class="inputBox" v-model="pm1005_res.message" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>trNo(API거래번호) </td>
                        <td><input class="inputBox" v-model="pm1005_res.trNo" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>data.pmtReqId(결제요청ID) </td>
                        <td><input class="inputBox" v-model="pm1005_res.pmtReqId" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>data.mchtTrNo(가맹점거래번호) </td>
                        <td><input class="inputBox" v-model="pm1005_res.mchtTrNo" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>data.mbrNo(PAY 회원 번호) </td>
                        <td><input class="inputBox" v-model="pm1005_res.mbrNo" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>data.oneMbrNo(ONE 회원번호) </td>
                        <td><input class="inputBox" v-model="pm1005_res.oneMbrNo" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>data.totPmtAmt(총 결제 금액) </td>
                        <td><input class="inputBox" v-model="pm1005_res.totPmtAmt" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>data.taxAmt(과세 금액) </td>
                        <td><input class="inputBox" v-model="pm1005_res.taxAmt" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>data.taxfAmt(비과세 금액) </td>
                        <td><input class="inputBox" v-model="pm1005_res.taxfAmt" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>data.vat(부가세) </td>
                        <td><input class="inputBox" v-model="pm1005_res.vat" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>data.pntUseAmt(포인트 사용 금액) </td>
                        <td><input class="inputBox" v-model="pm1005_res.pntUseAmt" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>data.gftUseAmt(기프트 사용 금액) </td>
                        <td><input class="inputBox" v-model="pm1005_res.gftUseAmt" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>data.crdAprvAmt(카드 승인 금액) </td>
                        <td><input class="inputBox" v-model="pm1005_res.crdAprvAmt" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>data.crdfmCd(카드사코드) </td>
                        <td><input class="inputBox" v-model="pm1005_res.crdfmCd" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>data.crdAuth.otcTypeCd(카드사코드) </td>
                        <td><input class="inputBox" v-model="pm1005_res.crdAuth_otcTypeCd" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>data.crdAuth.otc(OTC) </td>
                        <td><input class="inputBox" v-model="pm1005_res.crdAuth_otc" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>data.crdAuth.crdNo(실카드번호) </td>
                        <td><input class="inputBox" v-model="pm1005_res.crdAuth_crdNo" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>data.crdAuth.cavv(실카드번호) </td>
                        <td><input class="inputBox" v-model="pm1005_res.crdAuth_cavv" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>data.crdAuth.xid(XID) </td>
                        <td><input class="inputBox" v-model="pm1005_res.crdAuth_xid" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>data.crdAuth.eci(ECI) </td>
                        <td><input class="inputBox" v-model="pm1005_res.crdAuth_eci" type = "text" style="width: 400px"></td>
                    </tr>                    
                    <tr>
                        <td>data.crdAuth.otcV2(OTC V2 NUM) </td>
                        <td><input class="inputBox" v-model="pm1005_res.crdAuth_otcV2" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>signature </td>
                        <td><input class="inputBox" v-model="pm1005_res.signature" type = "text" style="width: 400px"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id='pc2app_pm1006'>
        <div style="border: 1px dotted; border-radius: 5px; padding: 10px; width: 70%; text-align: left; margin: auto; background: white;">
            <h4>결제 승인 : /pm/v1/pmt/mthd/aprv/do
                <button v-on:click="submit_pm1006()">전송</button>
            </h4>
            <hr>
            <table>
                <tbody>
                    <tr>
                        <td>pmtReqId(결제요청ID) </td>
                        <td><input class="inputBox" v-model="pm1006_req.pmtReqId" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>signature </td>
                        <td><input class="inputBox" v-model="pm1006_req.signature" type = "text" style="width: 400px"></td>
                    </tr>
                </tbody>
            </table>
            <br><hr>
            <table>
                <tbody>
                    <tr>
                        <td>code(응답코드) </td>
                        <td><input class="inputBox" v-model="pm1006_res.code" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>message(응답메세지) </td>
                        <td><input class="inputBox" v-model="pm1006_res.message" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>trNo(API거래번호) </td>
                        <td><input class="inputBox" v-model="pm1006_res.trNo" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>data.pmtReqId(결제요청ID) </td>
                        <td><input class="inputBox" v-model="pm1006_res.pmtReqId" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>data.mchtTrNo(가맹점거래번호) </td>
                        <td><input class="inputBox" v-model="pm1006_res.mchtTrNo" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>data.mbrNo(PAY 회원 번호) </td>
                        <td><input class="inputBox" v-model="pm1006_res.mbrNo" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>data.oneMbrNo(ONE 회원번호) </td>
                        <td><input class="inputBox" v-model="pm1006_res.oneMbrNo" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>data.totPmtAmt(총 결제 금액) </td>
                        <td><input class="inputBox" v-model="pm1006_res.totPmtAmt" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>data.taxAmt(과세 금액) </td>
                        <td><input class="inputBox" v-model="pm1006_res.taxAmt" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>data.taxfAmt(비과세 금액) </td>
                        <td><input class="inputBox" v-model="pm1006_res.taxfAmt" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>data.vat(부가세) </td>
                        <td><input class="inputBox" v-model="pm1006_res.vat" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>data.pntUseAmt(포인트 사용 금액) </td>
                        <td><input class="inputBox" v-model="pm1006_res.pntUseAmt" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>data.gftUseAmt(기프트 사용 금액) </td>
                        <td><input class="inputBox" v-model="pm1006_res.gftUseAmt" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>data.crdAprvAmt(카드 승인 금액) </td>
                        <td><input class="inputBox" v-model="pm1006_res.crdAprvAmt" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>data.crdAprvDd(카드 승인 일자) </td>
                        <td><input class="inputBox" v-model="pm1006_res.crdAprvDd" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>data.crdAprvTm(카드 승인 시각) </td>
                        <td><input class="inputBox" v-model="pm1006_res.crdAprvTm" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>data.crdAprvNo(카드 승인 번호) </td>
                        <td><input class="inputBox" v-model="pm1006_res.crdAprvNo" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>data.crdfmCd(카드사코드) </td>
                        <td><input class="inputBox" v-model="pm1006_res.crdfmCd" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>data.crdlstMons(할부개월) </td>
                        <td><input class="inputBox" v-model="pm1006_res.crdlstMons" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>data.cjoneDobSaveYn(CJONE 더블 적립 여부) </td>
                        <td><input class="inputBox" v-model="pm1006_res.cjoneDobSaveYn" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>data.cjCrdDcGbCd(CJ 카드 할인구분코드) </td>
                        <td><input class="inputBox" v-model="pm1006_res.cjCrdDcGbCd" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>signature </td>
                        <td><input class="inputBox" v-model="pm1006_res.signature" type = "text" style="width: 400px"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
    <script src="/static/utils/encrypt.js"></script>
    <script>


        var hd = new Vue({
            delimiters: ['{', '}'],
            el: '#apiHeader',
            data: {
                head: {
                    merchantKey:'3000000095',
                    merchantId:'3000000095',
                },
            }
        })

        var vm_pm1001 = new Vue({
            delimiters: ['{', '}'],
            el: '#pc2app_pm1001',
            data: {
                pm1001_req: {
                    merchantKey:'',
                    merchantId:'',
                    chnnlTypeCd:'1040002',
                    mchtTrNo:'abc1234',
                    repPrdtNm:'대표상품테스트진행',
                    totPmtAmt:'10000',
                    totPrdtQty:'5',
                    signature:'',
                },
                pm1001_res: {
                    code:'',
                    message:'',
                    trNo:'',
                    pmtReqId:'',
                    mchtTrNo:'',
                    qrCd:'',
                    signature:'',
                },

            },
            methods: {  //결제정보등록
                submit_pm1001: function() {
                    console.log("submit_pm1001()...");

                    this.pm1001_req.merchantKey = hd.head.merchantKey
                    this.pm1001_req.merchantId = hd.head.merchantId
                    this.pm1001_req.apiId = "pm1001"

                    decSignature = hd.head.merchantId + this.pm1001_req.chnnlTypeCd + this.pm1001_req.mchtTrNo + this.pm1001_req.totPmtAmt
                    + this.pm1001_req.totPrdtQty

                    //zhyun 변경사항 반영하여 signature 생성해야 함.
                    this.pm1001_req.signature = getEncSignature(decSignature)

                    axios.post('/api/PM1001/', this.pm1001_req)
                        .then(function (res) {
                            vm_pm1001.pm1001_res.code=res.data.code
                            vm_pm1001.pm1001_res.message=res.data.message
                            vm_pm1001.pm1001_res.trNo=res.data.trNo
                            vm_pm1001.pm1001_res.pmtReqId=res.data.data.pmtReqId
                            vm_pm1001.pm1001_res.mchtTrNo=res.data.data.mchtTrNo
                            vm_pm1001.pm1001_res.qrCd=res.data.data.qrCd
                            vm_pm1001.pm1001_res.signature=res.data.signature

                            vm_callQrPage.callQrPage_req.pmtReqId=res.data.data.pmtReqId
                            vm_callQrPage.callQrPage_req.qrCd=res.data.data.qrCd
                            vm_callQrPage.callQrPage_req.merchantId=hd.head.merchantId
                        })
                        .catch(function( err) {
                            console.log("POST ERR", err);
                        })
                },
            },
        })
        var vm_callQrPage = new Vue({
            delimiters: ['{', '}'],
            el: '#pc2app_callQrPage',
            data: {
                callQrPage_req: {
                    pmtReqId:'',
                    merchantId:'',
                    qrCd:'',
                },
                callQrPage_res: {
                    code:'',
                    message:'',
                    trNo:'',                   
                },
            }, 
            methods: {
                openQrCd: function() {
                    console.log("openQrCd")
                    //qr코드 조회 창 call 로직 필요

                    const ww = 480;
                    const wh = 720;
                    // 팝업창 위치(가맹점 창의 가운데 기준)
                    const left = (document.documentElement.clientWidth - ww) / 2;
                    const top = (document.documentElement.clientHeight - wh) / 2;

                    //window.location.href

                    window.open(
                        "https://dev-pay.cjone.com/qr/?reqId=" + this.callQrPage_req.pmtReqId + "&mchtId=" + this.callQrPage_req.merchantId + "&qrCd=" + this.callQrPage_req.qrCd
                            + "&redirect=" + "http://10.184.165.246:9999/testpay/redirect"
                        ,"CJ ONE PAY"
                        ,`width=${ww}, height=${wh}, top=${top}, left=${left}`
                    );

                    //다음 step(결제요청)으로 pmtReqId 전달
                    vm_pm1023.pm1023_req.pmtReqId=this.callQrPage_req.pmtReqId

                },
                openApp: function() {
                    console.log("openApp")
                    //qr코드 조회 창 call 로직 필요

                    const ww = 480;
                    const wh = 720;
                    // 팝업창 위치(가맹점 창의 가운데 기준)
                    const left = (document.documentElement.clientWidth - ww) / 2;
                    const top = (document.documentElement.clientHeight - wh) / 2;

                    window.open(
                        "https://dev-pay.cjone.com/bridge/?reqId=" + this.callQrPage_req.pmtReqId + "&mchtId=" + this.callQrPage_req.merchantId + "&qrCd=" + this.callQrPage_req.qrCd
                            + "&redirect=" + "http://10.184.165.246:9999/testpay/redirect",
                        "CJ ONE PAY",
                        `width=${ww}, height=${wh}, top=${top}, left=${left}`
                    );

                    //다음 step(결제요청)으로 pmtReqId 전달
                    vm_pm1023.pm1023_req.pmtReqId=this.callQrPage_req.pmtReqId

                }

            },                   
        })
        //결제정보조회
        var vm_pm1023 = new Vue({
            delimiters: ['{', '}'],
            el: '#pc2app_pm1023',
            data: {
                pm1023_req: {
                    merchantKey:'',
                    merchantId:'',
                    pmtReqId:'',
                    signature:'',
                },
                pm1023_res: {
                    code:'',
                    message:'',
                    trNo:'',
                    pmtReqId:'',
                    totPmtAmt:'',
                    pntUseAmt:'',
                    gftUseAmt:'',
                    crdAprvAmt:'',
                    signature:'',
                },
            },
            methods: {
                submit_pm1023: function() {
                    console.log("submit_pm1023")
                    console.log(this.pm1023_req.pmtReqId)

                    this.pm1023_req.merchantKey = hd.head.merchantKey
                    this.pm1023_req.merchantId = hd.head.merchantId

                    decSignature = this.pm1023_req.merchantId + this.pm1023_req.pmtReqId
                    this.pm1023_req.signature = getEncSignature(decSignature)
                    this.pm1023_req.apiId = "pm1023"

                    axios.post('/api/PM1023/', this.pm1023_req)
                        .then(function (res) {
                            console.log(res)

                            vm_pm1023.pm1023_res.code=res.data.code
                            vm_pm1023.pm1023_res.message=res.data.message

                            vm_pm1023.pm1023_res.trNo=res.data.trNo
                            vm_pm1023.pm1023_res.pmtReqId=res.data.data.pmtReqId



                            vm_pm1023.pm1023_res.totPmtAmt=res.data.data.totPmtAmt
                            vm_pm1023.pm1023_res.pntUseAmt=res.data.data.pntUseAmt
                            vm_pm1023.pm1023_res.gftUseAmt=res.data.data.gftUseAmt
                            vm_pm1023.pm1023_res.crdAprvAmt=res.data.data.crdAprvAmt

                            vm_pm1023.pm1023_res.signature=res.data.signature

                            //다음 step(결제요청)으로 pmtReqId 전달
                            vm_pm1005.pm1005_req.pmtReqId = vm_pm1023.pm1023_req.pmtReqId
                            vm_pm1005.pm1005_req.totPmtAmt = vm_pm1023.pm1023_res.totPmtAmt
                            vm_pm1005.pm1005_req.pntUseAmt = vm_pm1023.pm1023_res.pntUseAmt
                            vm_pm1005.pm1005_req.gftUseAmt = vm_pm1023.pm1023_res.gftUseAmt
                            vm_pm1005.pm1005_req.crdAprvAmt = vm_pm1023.pm1023_res.crdAprvAmt


                        })
                        .catch(function( err) {
                            console.log("POST ERR", err);
                        })



                }
            },
        })
        //결제요청
        var vm_pm1005 = new Vue({
            delimiters: ['{', '}'],
            el: '#pc2app_pm1005',
            data: {
                pm1005_req: {
                    merchantKey:'',
                    merchantId:'',
                    pmtReqId:'',
                    totPmtAmt:'',
                    pntUseAmt:'',
                    gftUseAmt:'',
                    crdAprvAmt:'',
                    vat:'0',
                    totTaxfAmt:'0',
                    crdVat:'0',
                    crdTaxfAmt:'0',
                    pntVat:'0',
                    pntTaxfAmt:'0',
                    gftVat:'0',
                    gftTaxfAmt:'0',
                    signature:'',
                },
                pm1005_res: {
                    code:'',
                    message:'',
                    trNo:'',
                    pmtReqId:'',
                    mchtTrNo:'',
                    mbrNo:'',
                    oneMbrNo:'',
                    totPmtAmt:'',
                    taxAmt:'',
                    taxfAmt:'',
                    vat:'',
                    pntUseAmt:'',
                    gftUseAmt:'',
                    crdAprvAmt:'',
                    crdfmCd:'',
                    crdAuth_otcTypeCd:'',
                    crdAuth_otc:'',
                    crdAuth_crdNo:'',
                    crdAuth_cavv:'',
                    crdAuth_xid:'',
                    crdAuth_eci:'',
                    crdAuth_otcV2:'',
                    signature:'',
                },
            }, 
            methods: {
                submit_pm1005: function() {
                    console.log("submit_pm1005")


                    this.pm1005_req.merchantKey = hd.head.merchantKey
                    this.pm1005_req.merchantId = hd.head.merchantId

                    decSignature = this.pm1005_req.merchantId + this.pm1005_req.pmtReqId
                         + this.pm1005_req.totPmtAmt + this.pm1005_req.pntUseAmt + this.pm1005_req.gftUseAmt + this.pm1005_req.crdAprvAmt
                         + this.pm1005_req.totTaxfAmt + this.pm1005_req.crdTaxfAmt + this.pm1005_req.pntTaxfAmt + this.pm1005_req.gftTaxfAmt

                    this.pm1005_req.signature = getEncSignature(decSignature)
                    this.pm1005_req.apiId = "pm1005"
    
                    axios.post('/api/PM1005/', this.pm1005_req)
                        .then(function (res) {
                            console.log(res)

                            vm_pm1005.pm1005_res.code=res.data.code
                            vm_pm1005.pm1005_res.message=res.data.message

                            vm_pm1005.pm1005_res.trNo=res.data.trNo
                            vm_pm1005.pm1005_res.pmtReqId=res.data.data.pmtReqId
                            vm_pm1005.pm1005_res.mchtTrNo=res.data.data.mchtTrNo
                            vm_pm1005.pm1005_res.mbrNo=res.data.data.mbrNo
                            vm_pm1005.pm1005_res.oneMbrNo=res.data.data.oneMbrNo
                            vm_pm1005.pm1005_res.totPmtAmt=res.data.data.totPmtAmt
                            vm_pm1005.pm1005_res.taxAmt=res.data.data.taxAmt
                            vm_pm1005.pm1005_res.taxfAmt=res.data.data.taxfAmt
                            vm_pm1005.pm1005_res.vat=res.data.data.vat
                            vm_pm1005.pm1005_res.pntUseAmt=res.data.data.pntUseAmt
                            vm_pm1005.pm1005_res.gftUseAmt=res.data.data.gftUseAmt
                            vm_pm1005.pm1005_res.crdAprvAmt=res.data.data.crdAprvAmt
                            vm_pm1005.pm1005_res.crdfmCd=res.data.data.crdfmCd
                            vm_pm1005.pm1005_res.crdAuth_otcTypeCd=res.data.data.crdAuth.otcTypeCd
                            vm_pm1005.pm1005_res.crdAuth_otc=res.data.data.crdAuth.otc
                            vm_pm1005.pm1005_res.crdAuth_crdNo=res.data.data.crdAuth.crdNo
                            vm_pm1005.pm1005_res.crdAuth_cavv=res.data.data.crdAuth.cavv
                            vm_pm1005.pm1005_res.crdAuth_xid=res.data.data.crdAuth.xid
                            vm_pm1005.pm1005_res.crdAuth_eci=res.data.data.crdAuth.eci
                            vm_pm1005.pm1005_res.crdAuth_otcV2=res.data.data.crdAuth.otcV2
                            vm_pm1005.pm1005_res.signature=res.data.signature

                            //다음 step(결제승인)으로 pmtReqId 전달
                            vm_pm1006.pm1006_req.pmtReqId = vm_pm1005.pm1005_req.pmtReqId
                        })
                        .catch(function( err) {
                            console.log("POST ERR", err);
                        })


                    
                }
            },                   
        })
        //결제승인
       var vm_pm1006 = new Vue({
            delimiters: ['{', '}'],
            el: '#pc2app_pm1006',
            data: {
                pm1006_req: {
                    pmtReqId:'',
                    signature:'',
                },
                pm1006_res: {
                    code:'1',
                    message:'2',
                    trNo:'3',
                    pmtReqId:'4',
                    mchtTrNo:'5',
                    mbrNo:'1',
                    oneMbrNo:'2',
                    totPmtAmt:'3',
                    taxAmt:'4',
                    taxfAmt:'5',
                    svcFee:'1',
                    pntUseAmt:'2',
                    gftUseAmt:'3',
                    crdAprvAmt:'4',
                    crdAprvDd:'5',
                    crdAprvTm:'1',                    
                    crdAprvNo:'2',                    
                    crdfmCd:'3',
                    crdlstMons:'4',
                    signature:'5',                  
                },
            }, 
            methods: {
                submit_pm1006: function() {
                    console.log("submit_pm1006")                    
                    //다음 step(결제승인)으로 pmtReqId 전달



                    this.pm1006_req.merchantKey = hd.head.merchantKey
                    this.pm1006_req.merchantId = hd.head.merchantId
                    
                    decSignature = hd.head.merchantId + this.pm1006_req.pmtReqId
                    this.pm1006_req.signature = getEncSignature(decSignature)

                    this.pm1006_req.apiId = "pm1006"

                    axios.post('/api/PM1006/', this.pm1006_req)
                        .then(function (res) {
                        })
                        .catch(function( err) {
                            console.log("POST ERR", err);
                        })
                    
                }
            },                   
        })

        window.addEventListener("message", ({ origin, data }) => {

            // 팝업창 주소가 CJ PAY WEB이 아니면 리턴
            if (origin !== "https://dev-pay.cjone.com") return;

            if (data.msg === "onCjpPmtReady") {
                alert("👉 Here, 사용자인증 후 처리 내용 구현 👈");
                if (data.hasOwnProperty("reqId")) {
                        console.log(data.reqId);
                }
            }
        });
    </script>
</body>
</html>