<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>testpay App_YJH</title>

    <style>
        header{
            margin: auto;
            width: 50%;
            background: white;
            height: 50px;
            border-radius: 50px;
            line-height: 50px;
        }

        body {
            text-align: center;
            background-color: #ddd;
        }
        .inputBox {
            border-style: none;
            border-bottom: 1px solid #ddd;
            margin: auto;
            margin-left: 50px;
            padding-left: 20px;
        }

    </style>
</head>

<body>
        <header>CJ One Pay Test: 온라인 PC to APP</header>
        <br>

    <div id='apiHeader' style="border: 1px dotted; border-radius: 5px; padding: 10px; width: 70%; text-align: left; margin: auto; background: white;">
    <h4>Header 영역</h4>
        <table>
            <tbody>
                <tr>
                    <td>MERCHANT-KEY: </td>
                    <td><input v-model="head.merchantKey" class="inputBox" type = "text" style="width: 400px"></td>
                </tr>
                <tr>
                    <td>MERCHANT-ID: </td>
                    <td><input v-model="head.merchantId" class="inputBox" type = "text" style="width: 400px"></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div id='pc2app'>
        <div style="border: 1px dotted; border-radius: 5px; padding: 10px; width: 70%; text-align: left; margin: auto; background: white;">

            <h4>결제정보등록 : /pm/v1/pmt/minfo/regi/do
            <button v-on:click="testPostSubmit()">전송</button>
            <button v-on:click="test()">테스트</button>
            </h4>
            <hr>
            <table>
                <tbody>
                    <tr>
                        <td>chnnlTypeCd(채널유형코드) </td>
                        <td><input id="chnnlTypeCd" v-model="pm001_req.chnnlTypeCd" class="inputBox" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>mchtTrNo(가맹점거래번호) </td>
                        <td><input class="inputBox" v-model="pm001_req.mchtTrNo" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>repPrdtNm(대표상품이름) </td>
                        <td><input class="inputBox" v-model="pm001_req.repPrdtNm" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>totPmtAmt(총결제금액) </td>
                        <td><input class="inputBox" v-model="pm001_req.totPmtAmt" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>totPrdtQty(전체상품수량) </td>
                        <td><input class="inputBox" v-model="pm001_req.totPrdtQty" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>signature </td>
                        <td><input class="inputBox" v-model="pm001_req.signature" type = "text" style="width: 400px"></td>
                    </tr>
                </tbody>
            </table>
            <br><hr>
            <table>
                <tbody>
                    <tr>
                        <td>code(응답코드) </td>
                        <td><input class="inputBox" v-model="pm001_res.code" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>message(응답메세지) </td>
                        <td><input class="inputBox" v-model="pm001_res.message" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>trNo(API거래번호) </td>
                        <td><input class="inputBox" v-model="pm001_res.trNo" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>data.pmtReqId(결제요청ID) </td>
                        <td><input class="inputBox" v-model="pm001_res.pmtReqId" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>data.qrCd(QR코드) </td>
                        <td><input class="inputBox" v-model="pm001_res.qrCd" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>signature </td>
                        <td><input class="inputBox" v-model="pm001_res.signature" type = "text" style="width: 400px"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
    <script src="/static/utils/encrypt.js"></script>
    <script>

        var hd = new Vue({
            delimiters: ['{', '}'],
            el: '#apiHeader',
            data: {
                head: {
                    merchantKey:'c2329e6fb050a55e6aa3aed23782c870',
                    merchantId:'3000000001',
                },
            }
        })
        var vm = new Vue({
            delimiters: ['{', '}'],
            el: '#pc2app',
            data: {
                pm001_req: {
                    merchantKey:'',
                    merchantId:'',
                    chnnlTypeCd:'1040002',
                    mchtTrNo:'abc1234',
                    repPrdtNm:'대표상품',
                    totPmtAmt:'10000',
                    totPrdtQty:'5',
                    signature:'',
                },
                pm001_res: {
                    code:'',
                    message:'',
                    trNo:'',
                    pmtReqId:'',
                    qrCd:'',
                    signature:'',
                },

            },
            methods: {
                test: function() {

                    console.log(hd.head)

                },

                testPostSubmit: function() {
                    console.log("testPostSubmit()...");

                    this.pm001_req.merchantKey = hd.head.merchantKey
                    this.pm001_req.merchantId = hd.head.merchantId

                    decSignature = hd.head.merchantId + this.pm001_req.chnnlTypeCd + this.pm001_req.mchtTrNo + this.pm001_req.totPmtAmt + this.pm001_req.totPrdtQty
                    this.pm001_req.signature = getEncSignature(decSignature)

                    console.log(decSignature)
                    

                    axios.post('/api/CJP-PM-001/', this.pm001_req)
                        .then(function (res) {
                            vm.pm001_res.code=res.data.code
                            vm.pm001_res.message=res.data.message
                            vm.pm001_res.trNo=res.data.trNo
                            vm.pm001_res.pmtReqId=res.data.data.pmtReqId
                            vm.pm001_res.qrCd=res.data.data.qrCd
                            vm.pm001_res.signature=res.data.signature
                            
                        })
                        .catch(function( err) {
                            console.log("POST ERR", err);
                        })
                    },
                },
            })
    </script>
</body>
</html>