<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>testpay App_YJH</title>

    <style>
        header{
            margin: auto;
            width: 50%;
            background: white;
            height: 50px;
            border-radius: 50px;
            line-height: 50px;
        }

        body {
            text-align: center;
            background-color: #ddd;
        }
        .inputBox {
            border-style: none;
            border-bottom: 1px solid #ddd;
            width: 400px;
            margin-left: 50px;
            padding-left: 20px;
        }

    </style>
</head>

<body>

    <div id='pc2app'>
        <header>CJ One Pay Test: 온라인 PC to APP</header>
        <br>
        <div style="border: 1px dotted; border-radius: 5px; padding: 10px; width: 70%; text-align: left; margin: auto; background: white;">
            <h4>Header 영역</h4>
            <table>
                <tbody>
                    <tr>
                        <td>MERCHANT-KEY: </td>
                        <td><input class="inputBox" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>MERCHANT-ID: </td>
                        <td><input class="inputBox" type = "text" style="width: 400px"></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>
        <div style="border: 1px dotted; border-radius: 5px; padding: 10px; width: 70%; text-align: left; margin: auto; background: white;">

            <h4>결제정보등록 : /pm/v1/pmt/minfo/regi/do
            <button v-on:click="testSubmit()">전송</button>
            </h4>
            <hr>
            <table>
                <tbody>
                    <tr>
                        <td>chnnlTypeCd(채널유형코드) </td>
                        <td><input class="inputBox" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>mchtTrNo(가맹점거래번호) </td>
                        <td><input class="inputBox" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>repPrdtNm(대표상품이름) </td>
                        <td><input class="inputBox" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>totPmtAmt(총결제금액) </td>
                        <td><input class="inputBox" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>totPrdtQty(전체상품수량) </td>
                        <td><input class="inputBox" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>signature </td>
                        <td><input class="inputBox" type = "text" style="width: 400px"></td>
                    </tr>
                </tbody>
            </table>
            <br><hr>
            <table>
                <tbody>
                    <tr>
                        <td>code(응답코드) </td>
                        <td><input class="inputBox" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>message(응답메세지) </td>
                        <td><input class="inputBox" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>trNo(API거래번호) </td>
                        <td><input class="inputBox" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>data.pmtReqId(결제요청ID) </td>
                        <td><input class="inputBox" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>data.qrCd(QR코드) </td>
                        <td><input class="inputBox" type = "text" style="width: 400px"></td>
                    </tr>
                    <tr>
                        <td>signature </td>
                        <td><input class="inputBox" type = "text" style="width: 400px"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        var vm = new Vue({
            delimiters: ['{', '}'],
            el: '#pc2app',
            data: {
                name: '',


            },
            methods: {
                testSubmit: function() {
                    console.log("testSubmit()...");

                },

            },
        })
    </script>

</body>
</html>